body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background-image: url("jack.jpg");
background-size: cover;
color: aliceblue;
text-align: center;
font-weight: bold;
}
h1{
    color: goldenrod;
}
button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}
#message-el{
font-style: italic;
}